.about{
    & .container{
        padding-top: 17px;
        padding-bottom: 19px;
        @media screen and (min-width: 1280px) {
            padding-left: 81px;
            padding-top: 56px;
            padding-bottom: 110px;
        }
    }
    &__item{
        text-align: center;
        &:not(:last-child){
            margin-bottom: 10px;
            @media screen and (min-width: 1280px) {
                margin-bottom: 26px;
            }
        }
        

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;

        color: #FFFFFF;

        @media screen and (min-width: 1280px) {
            text-align: left;

            font-size: 15px;
            line-height: 18px;
        }
    }
}