.about{
    & .container{
        padding-top: 17px;
        padding-bottom: 19px;
    }
    &__item{
        text-align: center;
        &:not(:last-child){
            margin-bottom: 10px;
        }

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;

        color: #FFFFFF;
    }
}